.sec2 {
  text-align: center;
  line-height: 1.7;
  font-size: x-large;
  font-weight: bold;
  transition: 150ms ease-in-out;
}
.sec2:hover {
  background-color: rgb(155, 197, 252);
  border-radius: 10px;
}

@media (max-width: 769px) {
  .sec2 {
    display: none;
  }
}
